{% extends 'base.html' %}
{% block play %}
<html>
<style>
p {
    font-size: 80%;
}
</style>
<div style="float: left; position: relative; top: 20px;">
    <p>
        Este Emulador lo desarrollamos para apoyar un cursillo orientado a Entender Qué es la Computación.
        Consideramos que eso es importante para aquellos que anhelen crear nuevos desarrollos de este fenómeno.
        Porque, para usar computadores, uno siempre puede apoyarse en lo que esas implementaciones van mostrando.
        Pero para amigarse con lo que aún no existe, no queda otra que imaginarlo; es decir, comprender qué es posible.
    </p>
    <p>
        Por suṕuesto que el cursillo no sólo se referirá a lo que existe, sino que también a su desarrollo histórico.
        Así que, para reducir la complejidad de la visión que de ello resulta, e imaginar lo que se puede dar a futuro,
        será necesario sintetizar: tratar de entender el fenómeno que nos interesa lo mejor posible.
        Explicándolo de manera sencilla; pero sin sacrificar generalidad.
    </p>
    <p>
       Y ahí es donde, a mi juicio, los planteos de Emil Post destacan:
       Sus Máquinas y los Sistemas a los que las primeras pueden reducirse, no sólo son universales
       ---porque todo cómputo puede ser efectuado por un Sistema de Post--- sino además muy elegantes y pedagógicos.
       Es por eso que decidimos basar las experiencias prácticas que este cursillo demanda, en Máquinas y Sistemas de Post.
    </p>
    <p>
        Para más explicaciones, remito a los documentos que este sitio ofrece. ¡Que lo disfruten!
    </p>
    <p>
        Andreas Polyméris,
        Concepción, Chile,
        Abril del 2017.
    </p>
</div>

</html>
{% endblock %}
