{% extends 'base.html' %}
{% block play %}
<h5 style="color: OrangeRed; float: left; width: 50%; margin-bottom: 0%"> SIP disponibles:</h5>
<h5 style="color: OrangeRed; float: right; width: 50%; margin-bottom: 0%"> Documentación de apoyo:</h5>
<div class="scroll" >
    <h5 style="font-size: 80%;">
       {% for i in range(numsips) %}
       <p><a style="color: #444;" href="/{{ sips[i]+'?'+randn }}" target="_blank"> {{ i+1 }}) {{ sips[i] }} </a></p>
       {% endfor %}
    </h5>
</div>

<div class="scroll" style="margin-left: 13%">
    <h5>
        {% for i in range(numpdfs) %}
        <p><a style="color: #444;" href="/{{ pdfs[i]+'?'+randn }}" target="_blank"> {{ i+1 }}) {{ pdfs[i] }} </a></p>
        {% endfor %}
    </h5>
</div>

{% endblock %}