{% extends 'base.html' %}
{% block play %}
<html>
<div style="width: 40%; float: left; position: relative;">
    <p>
        Ponemos a tu disposción un Emulador
        que te permite correr Sistemas de Post [SIP]
	gatillados por Palabras de Signos del teclado.
    </p>
    <p>
        Ello deberá ayudarte a entender Qué es la Computación..
    </p>
    <p>
        Además es un homenaje a Emil Post (1897-1954),
        abuelo de la comprensión matemática de la Computación
    </p>
    <p style="color: OrangeRed">
        andreaspolymeris@gmail.com
    </p>
    <a href="https://www.github.com/otroyo/EmulaSIP" style="color: OrangeRed; font-size: 80%;">https://www.github.com/otroyo/EmulaSIP</a>

</div>
<img src="/static/post-line.png" style="width: 50%; float: right;">

</html>
{% endblock %}
